html,
body {
    padding: 0;
    margin: 0;
}


html {
    width: 100vw;
    height: 100vh;
}


body {
    height: 90%; /*Of html, html full-screen size*/
    aspect-ratio: 1/1; /*Square body, so each pixel is square too*/
    margin: 0 auto;
    border: green solid 3px;
}


h1 {
    border: solid blue 1px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    height: 10%; /*90% for .container.big*/
    font-size: 7vmin; /*Font scales with window*/   
}


.container {
    display: flex;
    width: 100%;
}


.container.big {
    flex-direction: column;
    box-sizing: border-box;
    height: 90%; /*Leave some space for h1*/
    width: 90%;
    margin: 0 auto;
    border: purple solid 3px;
}


.container.row {
    height:calc((100%/16));
    flex: 1 1 0;
}


.container.row .item {
    border: solid red 1px;
    flex: 1 1 0;
}


.container.row .item:hover {
    background-color: rgba(44, 38, 41, 0.35);
    cursor: grab;
}