html,
body {
    padding: 0;
    margin: 0;
}


html {
    width: 100vw;
    height: 100vh;
}


body {
    height: 90%; /*Of html, html full-screen size*/
    aspect-ratio: 1.75/1;
    margin: 0 auto;
    border: green solid 3px;
    display: flex;
    justify-content: center;
    position: relative;
}


body .sidebar {
    border: green solid 2px;
    position: absolute;
    top:0%;
    left: 10%; /*.sidebar to end while .drawing-window at center*/
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


body .drawing-window {
    border: green solid 2px;
    width: 60%;
    height: 100%;
}


/*Sidebar feature*/
.sidebar .pixel,
.sidebar .color,
.sidebar .erase,
.sidebar .clear {
    width: 100%;
    height: 25%;
    border: solid black 3px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50%;
}


.sidebar .number-pixel {
    display: block;
    margin: 5% auto;
}


.sidebar input.number-pixel {
    width: 50%;
}


.sidebar .color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-content: center;
    padding: 5%;
}


.sidebar .color .color-opt.black {background-color: #000000;}
.sidebar .color .color-opt.red {background-color: #ff0000;}
.sidebar .color .color-opt.green {background-color: #008000;}
.sidebar .color .color-opt.blue {background-color: #0000ff;}
.sidebar .color .color-opt.magenta {background-color: #ff00ff;}
.sidebar .color .color-opt.yellow {background-color: #ffff00;}
.sidebar .color .color-opt.cyan {background-color: #00ffff;}
.sidebar .color .color-opt.orange {background-color: #ffa500;}
.sidebar .color .color-opt.purple {background-color: #800080;}


.sidebar .color .color-opt {
    height: 30%;
    width: 30%;
    cursor: pointer;
}


.sidebar img {
    max-width: 80%;
    max-width: 80%;
}


/*Drawing window feature*/
h1 {
    border: solid blue 1px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    height: 10%; /*90% for .container.big*/
    font-size: 7vmin; /*Font scales with window*/   
}


.container {
    display: flex;
    width: 100%;
}


.container.big {
    flex-direction: column;
    box-sizing: border-box;
    height: 90%; /*Leave some space for h1*/
    width: calc(0.9*90vh); /*Allow square pixel*/
    margin: 0 auto;
    border: purple solid 3px;
}


.container.row {
    height:calc((100%/16));
    flex: 1 1 0;
}


.container.row .item {
    border: solid red 1px;
    flex: 1 1 0;
}


.container.row .item:hover {
    background-color: rgba(44, 38, 41, 0.35);
    border: solid 1px rgba(44, 38, 41, 0.7);
    cursor: grab;
}


.container.row .item.plotted{
    background-color: red;
}