html,
body {
    padding: 0;
    margin: 0;
}


html {
    width: 100vw;
    height: 100vh;
}


body {
    height: 90%; /*Of html, html full-screen size*/
    aspect-ratio: 1.75/1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}


body .sidebar {
    border: #363129a1 solid 2px;
    position: absolute;
    top:0%;
    left: 10%; /*.sidebar to end while .drawing-window at center*/
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


body .drawing-window {
    border: #363129a1 solid 4px;
    width: 60%;
    height: 100%;
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}


/*Sidebar feature*/
.sidebar .pixel,
.sidebar .color,
.sidebar .erase,
.sidebar .clear {
    width: 100%;
    height: 25%;
    border: solid #363129a1 3px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50%;
}


.sidebar .number-pixel {
    display: block;
    margin: 5% auto;
    font-size: 2vmin;
}


.sidebar input.number-pixel {
    cursor: text;
    width: 50%;
    height: 15%;
}


.sidebar button.number-pixel {
    cursor: pointer;
    box-sizing: border-box;
    width: 80%;
    height: 20%;
}


.sidebar .color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-content: center;
    padding: 5%;
}


.sidebar .color .color-opt.black {background-color: #000000;}
.sidebar .color .color-opt.red {background-color: #ff0000;}
.sidebar .color .color-opt.green {background-color: #008000;}
.sidebar .color .color-opt.blue {background-color: #0000ff;}
.sidebar .color .color-opt.magenta {background-color: #ff00ff;}
.sidebar .color .color-opt.yellow {background-color: #ffff00;}
.sidebar .color .color-opt.cyan {background-color: #00ffff;}
.sidebar .color .color-opt.orange {background-color: #ffa500;}
.sidebar .color .color-opt.purple {background-color: #800080;}


.sidebar .color .color-opt {
    height: 30%;
    width: 30%;
    cursor: pointer;
}


.sidebar img {
    max-width: 80%;
    max-width: 80%;
    cursor: pointer;
}


/*Drawing window feature*/
h1 {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    height: 10%; /*90% for .container.big*/
    font-size: 7vmin; /*Font scales with window*/  
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, 
    rgba(148,187,233,1) 100%);
}


.container {
    display: flex;
    width: 100%;
}


.container.big {
    flex-direction: column;
    box-sizing: border-box;
    height: 90%; /*Leave some space for h1*/
    width: calc(0.9*90vh); /*Allow square pixel*/
    margin: 0 auto;
    border: #363129a1 solid 3px;
}


.container.row {
    height:calc((100%/16));
    flex: 1 1 0;
}


.container.row .item {
    border: solid #45454542 1px;
    flex: 1 1 0;
    background-color: #ffffff;
}


.container.row .item:hover {
    background-color: #f0f2f5;
    border: solid 1px #2c2629b3;
    cursor: grab;
}